.wrapper {
  margin: var(--margin-xl) 0;
  padding: 24px 8px;
  border-radius: var(--border-radius-sm);
  background: #111827;
  color: white;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 12px 12px;
    font-size: 14px;
  }
}
