.wrapper {
  padding: 32px;
  margin-top: 8dvh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--bg-dark-color);
  color: var(--on-bg-dark-color);
  align-self: flex-end;
  justify-self: flex-end;
}

.about,
.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about .title {
  font-size: var(--large-font);
}

.about .description {
  color: var(--on-bg-dark-secondary-color);
}

.link {
  width: max-content;
  font-size: var(--medium-font);
  border-bottom: 1px solid transparent;
  transition: 200px ease;
}

.link:hover {
  border-color: var(--on-bg-dark-color);
}

@media (max-width: 600px) {
  .wrapper {
    padding: 24px 24px;
    margin-top: 24px;
    flex-direction: column;
  }
}
